devops-pending-frontend-to-deployment-blocked.json
{
  "name": "devops-pending-frontend-to-deployment-blocked",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -768,
        -32
      ],
      "id": "ce445409-cb7c-43a9-b4bc-9ffd31de670c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "04424456-fcef-4386-9fb4-fef685ae4442",
              "leftValue": "={{ $json.history_items[0].after.status }}",
              "rightValue": "pending by frontend",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3636bd1b-75a4-44d2-82cd-0014e6a2a61a",
              "leftValue": "={{ $json.history_items[0].after.status }}",
              "rightValue": "PENDING BY FRONTEND",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        64
      ],
      "id": "9e098867-f303-4c45-8ea9-a1bc68ab223e",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.task_id }}"
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        -240,
        -80
      ],
      "id": "c51a922f-85b1-4d4a-8327-a71c2c3122f1",
      "name": "Get a task",
      "credentials": {
        "clickUpApi": {
          "id": "FGZ36444ame9ffAE",
          "name": "ClickUp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.id }}",
        "updateFields": {
          "status": "Deployment Blocked"
        }
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        432,
        -80
      ],
      "id": "68f55842-63e1-4e11-b5f1-b4d8ea24c9ca",
      "name": "Update a task",
      "credentials": {
        "clickUpApi": {
          "id": "FGZ36444ame9ffAE",
          "name": "ClickUp account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6950cf3-4628-41e7-948d-b5dd2d897dcf",
              "name": "old_id",
              "value": "={{ $json.name.match(/\\[(.*?)\\]/)[1] || '' }}",
              "type": "string"
            },
            {
              "id": "51b0ae0b-c8eb-4de1-98f7-ce6cea6157ff",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        -80
      ],
      "id": "a3136ada-6a1b-479c-9ae2-1f76cfe496aa",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.old_id }}"
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        208,
        -80
      ],
      "id": "957884e0-cc28-4fb4-b2ee-1823d64cf1c5",
      "name": "Get a task1",
      "credentials": {
        "clickUpApi": {
          "id": "FGZ36444ame9ffAE",
          "name": "ClickUp account 2"
        }
      }
    },
    {
      "parameters": {
        "team": "90181787093",
        "events": [
          "taskStatusUpdated"
        ],
        "filters": {
          "listId": "901812001754",
          "spaceId": "90187174239"
        }
      },
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        -976,
        -32
      ],
      "id": "3935c24e-c238-4249-8bdd-b4f97efd27ae",
      "name": "ClickUp Trigger",
      "webhookId": "ea481648-d485-4a14-90ee-4df3e2d0bf92",
      "credentials": {
        "clickUpApi": {
          "id": "FGZ36444ame9ffAE",
          "name": "ClickUp account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a task": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get a task1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a task1": {
      "main": [
        [
          {
            "node": "Update a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8107103c-8e5d-4109-8aa7-37f21a02c8dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bfefda8b8561e999840c4adfac23e386ed9e4cb2425c2372729c1876c847c669"
  },
  "id": "h2JQw0f3oUSSyfOV",
  "tags": []
}