devops-pending-ai-to-deployment-blocked.json
{
  "name": "devops-pending-ai-to-deployment-blocked",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -528,
        48
      ],
      "id": "33745cf9-84c7-4233-93cd-408bb897123c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "04424456-fcef-4386-9fb4-fef685ae4442",
              "leftValue": "={{ $json.history_items[0].after.status }}",
              "rightValue": "pending by ai team",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3636bd1b-75a4-44d2-82cd-0014e6a2a61a",
              "leftValue": "={{ $json.history_items[0].after.status }}",
              "rightValue": "PENDING BY AI TEAM",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -320,
        144
      ],
      "id": "d2c2e7df-3c55-495a-b509-4f01b72e009f",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.task_id }}"
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "be00521e-273a-4903-b41b-0ddf223c3de0",
      "name": "Get a task",
      "credentials": {
        "clickUpApi": {
          "id": "FGZ36444ame9ffAE",
          "name": "ClickUp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.id }}",
        "updateFields": {
          "status": "Deployment Blocked"
        }
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "e7d3d0f5-7c46-4c02-b5d5-16c5593cc9af",
      "name": "Update a task",
      "credentials": {
        "clickUpApi": {
          "id": "FGZ36444ame9ffAE",
          "name": "ClickUp account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6950cf3-4628-41e7-948d-b5dd2d897dcf",
              "name": "old_id",
              "value": "={{ $json.name.match(/\\[(.*?)\\]/)[1] || '' }}",
              "type": "string"
            },
            {
              "id": "51b0ae0b-c8eb-4de1-98f7-ce6cea6157ff",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "08f2f62c-5904-4863-bcd1-fb8ef4e2bf46",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.old_id }}"
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "5edcb6b4-2c6a-4a32-b877-5009ca2a19c7",
      "name": "Get a task1",
      "credentials": {
        "clickUpApi": {
          "id": "FGZ36444ame9ffAE",
          "name": "ClickUp account 2"
        }
      }
    },
    {
      "parameters": {
        "team": "90181787093",
        "events": [
          "taskStatusUpdated"
        ],
        "filters": {
          "listId": "901812001754",
          "spaceId": "90187174239"
        }
      },
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        48
      ],
      "id": "b6d2bdf3-10f9-4eef-a32b-2a7f9158b224",
      "name": "ClickUp Trigger",
      "webhookId": "a586ec3b-8d30-4109-a846-04b8e1dec986",
      "credentials": {
        "clickUpApi": {
          "id": "FGZ36444ame9ffAE",
          "name": "ClickUp account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a task": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get a task1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a task1": {
      "main": [
        [
          {
            "node": "Update a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "12f193b4-8d11-4f75-89df-b5448ff279a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bfefda8b8561e999840c4adfac23e386ed9e4cb2425c2372729c1876c847c669"
  },
  "id": "TKy07NQM18k1HPVX",
  "tags": []
}