devops-completion-sync.json
{
  "name": "DevOps completed movedto respected Board list completed",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "04424456-fcef-4386-9fb4-fef685ae4442",
              "leftValue": "={{ $json.history_items[0].after.status }}",
              "rightValue": "deployed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3636bd1b-75a4-44d2-82cd-0014e6a2a61a",
              "leftValue": "={{ $json.history_items[0].after.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -320,
        144
      ],
      "id": "030dc650-f6e9-450c-a15d-3b88d82f3d8c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.task_id }}"
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "35113167-015c-4682-bfd6-a221173abb5e",
      "name": "Get a task",
      "credentials": {
        "clickUpApi": {
          "id": "FGZ36444ame9ffAE",
          "name": "ClickUp account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $json.id }}",
        "updateFields": {
          "status": "Deployed"
        }
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        688,
        0
      ],
      "id": "b72ad207-3bff-4f9a-8420-8dea7f450e6f",
      "name": "Update a task",
      "credentials": {
        "clickUpApi": {
          "id": "FGZ36444ame9ffAE",
          "name": "ClickUp account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c6950cf3-4628-41e7-948d-b5dd2d897dcf",
              "name": "old_id",
              "value": "={{ $json.name.match(/\\[(.*?)\\]/)[1] || '' }}",
              "type": "string"
            },
            {
              "id": "51b0ae0b-c8eb-4de1-98f7-ce6cea6157ff",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "3784122f-1cf0-4c30-9c61-795946f293fd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.old_id }}"
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "3953e9d2-7447-433e-981b-beda8d21798b",
      "name": "Get a task1",
      "credentials": {
        "clickUpApi": {
          "id": "FGZ36444ame9ffAE",
          "name": "ClickUp account 2"
        }
      }
    },
    {
      "parameters": {
        "team": "90181787093",
        "events": [
          "taskStatusUpdated"
        ],
        "filters": {
          "listId": "901812001754",
          "spaceId": "90187174239"
        }
      },
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        144
      ],
      "id": "00f65665-1839-4e8b-ab14-91f778d3c385",
      "name": "ClickUp Trigger",
      "webhookId": "700bbcfa-50bb-4260-a467-6e8f7382f704",
      "credentials": {
        "clickUpApi": {
          "id": "FGZ36444ame9ffAE",
          "name": "ClickUp account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Get a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a task": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get a task1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a task1": {
      "main": [
        [
          {
            "node": "Update a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "01bb8dec-1560-4f59-b714-930a7dee7a2d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bfefda8b8561e999840c4adfac23e386ed9e4cb2425c2372729c1876c847c669"
  },
  "id": "FhF9cddnXpunZkaJ",
  "tags": []
}
