frontend-in-deployment → create-devops-to-do-task.json
{
  "name": "frontend-in-deployment → create-devops-to-do-task",
  "nodes": [
    {
      "parameters": {
        "team": "90181787093",
        "space": "90187174239",
        "folderless": true,
        "list": "901812001754",
        "name": "={{ `[${$json.id}] ${$json.name}` }}",
        "additionalFields": {
          "status": "to do"
        }
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        480,
        -80
      ],
      "id": "d4e14875-1242-48b1-8bbd-98608f4462b6",
      "name": "Create a task",
      "credentials": {
        "clickUpApi": {
          "id": "FGZ36444ame9ffAE",
          "name": "ClickUp account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -144,
        -80
      ],
      "id": "2800baef-faf9-4418-a03d-fea8d5785a3c",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "04424456-fcef-4386-9fb4-fef685ae4442",
              "leftValue": "={{ $json.history_items[0].after.status }}",
              "rightValue": "in deployment",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "3636bd1b-75a4-44d2-82cd-0014e6a2a61a",
              "leftValue": "={{ $json.history_items[0].after.status }}",
              "rightValue": "IN DEPLOYMENT",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        64,
        16
      ],
      "id": "3119808a-4d97-4250-9fa5-23133041b6a3",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.task_id }}"
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        272,
        -80
      ],
      "id": "83941093-610b-4dc6-9240-5b2299762756",
      "name": "Get a task2",
      "credentials": {
        "clickUpApi": {
          "id": "FGZ36444ame9ffAE",
          "name": "ClickUp account 2"
        }
      }
    },
    {
      "parameters": {
        "team": "90181787093",
        "events": [
          "taskStatusUpdated"
        ],
        "filters": {
          "listId": "901812347933",
          "spaceId": "90186999301"
        }
      },
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        -80
      ],
      "id": "dae39f07-661c-4ef8-9e14-5f1536258552",
      "name": "ClickUp Trigger",
      "webhookId": "60ab8eea-ce24-4f0d-a4e8-82a13528064d",
      "credentials": {
        "clickUpApi": {
          "id": "FGZ36444ame9ffAE",
          "name": "ClickUp account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Get a task2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a task2": {
      "main": [
        [
          {
            "node": "Create a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "71d7bace-3d41-4e93-8777-d68a0f057601",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bfefda8b8561e999840c4adfac23e386ed9e4cb2425c2372729c1876c847c669"
  },
  "id": "TdIAxkx2eZzioJVh",
  "tags": []
}